{% extends "nav.html" %}

{% block main %}
    <!-- Nav tabs -->
    <ul class="nav nav-tabs nav-justified indigo" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#panel-API" role="tab">API</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#panel-sample" role="tab">实例</a>
        </li>
    </ul>
    <!-- Tab panels -->
    <div class="tab-content">
        <!--API Panel-->
        <div class="tab-pane fade in show active" id="panel-API" role="tabpanel">
            <div class="card-body">
                <h4 class="font-weight-bold">量算-线</h4>
                <section class="my-2">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-3">URL:</div>
                                <div class="col-9">http://127.0.0.1:5000/TGISServer/GeometryService/lengths</div>
                            </div>
                        </div>
                    </div>
                </section>

                <!--description-->
                <section class="my-2">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">描述</h4>
                            <p>此操作计算输入数组中指定的每条折线的二维欧几里得长度或测地线长度。</p>
                            <p>此操作的参数在以下参数表中定义:</p>
                        </div>
                    </div>
                </section>

                <!--params-->
                <section class="my-2">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">请求参数</h4>
                            <!--Table-->
                            <table class="table">

                                <!--Table head-->
                                <thead class="blue-grey lighten-4">
                                <tr>
                                    <th>参数</th>
                                    <th>说明</th>
                                </tr>
                                </thead>
                                <!--/Table head-->

                                <!--Table body-->
                                <tbody>
                                <tr>
                                    <td>polylines</td>
                                    <td>
                                        <p>要计算长度的折线数组</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Jacob</td>
                                    <td>Thornton</td>
                                </tr>
                                <tr>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                </tr>
                                </tbody>
                                <!--Table body-->

                            </table>
                            <!--Table-->
                        </div>
                    </div>
                </section>

                <!--response syntax-->
                <section class="my-2">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">JSON响应语法</h4>
                            <pre><code>{
<span class="red-text">"lengths"</span> : [ &lt;length1&gt;, &lt;length2&gt;, ..., &lt;lengthN&gt; ]
}</code></pre>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <!--/API Panel-->

        <!--Sample Panel-->
        <div class="tab-pane fade" id="panel-sample" role="tabpanel">
            <div class="card-body">
                <div class="row" style="height: 500px">
                    <!--Map div-->
                    <div id="mapViewDiv" class="col-lg-6 z-depth-1">

                    </div>

                    <!--Other div-->
                    <div class="col-lg-6">
                        div2
                    </div>
                </div>
            </div>
        </div>
        <!--/Sample Panel-->

    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
        $('#menu-server').addClass('active');
        $('#menu-item-geometry-service').addClass('current-menu-item');
    </script>

    <script type="text/javascript">
        require([
            "esri/Map",
            "esri/views/MapView",
            "dojo/domReady!"
        ], function (Map, MapView) {
            const map = new Map({
                basemap: "streets"
            });

            let view = new MapView({
                container: "mapViewDiv",  // Reference to the DOM node that will contain the view
                map: map,               // References the map object created in step 3
                zoom: 4,  // Sets zoom level based on level of detail (LOD)
                center: [15, 65]  // Sets center point of view using longitude,latitude
            });
        });
    </script>
{% endblock %}