{% extends "nav.html" %}

{% block main %}
    <section class="my-5">
        <!--Heading-->
        <h2 class="h1-responsive font-weight-bold text-center my-5">几何服务</h2>
        <!--Description-->
        <p class="lead grey-text text-center w-responsive mx-auto mb-5">几何服务包含实用程序方法，提供对复杂和常用几何操作的访问。几何服务的REST
            API资源主要是支持与几何相关的操作的处理和算法资源。几何服务资源具有以下操作：</p>

        <!-- Grid row -->
        <div class="row my-5">
            <!-- Grid column -->
            <div class="col-md-4 mb-md-0 mb-5">
                <!-- Grid row -->
                <div class="row">
                    <!-- Grid column -->
                    <div class="col-lg-2 col-md-3 col-2">
                        <i class="fas fa-angle-double-right blue-text fa-2x"></i>
                    </div>
                    <!-- /Grid column -->

                    <!-- Grid column -->
                    <div class="col-lg-10 col-md-9 col-10">
                        <h4 class="font-weight-bold">量算-面</h4>
                        <p>计算输入数组中指定的每个多边形的面积和周长。</p>
                        <a class="btn btn-blue btn-sm"><i class="fas fa-sign-in-alt fa-2x"></i></a>
                    </div>
                    <!-- /Grid column -->
                </div>
                <!-- /Grid row -->
            </div>
            <!-- /Grid column -->

            <!-- Grid column -->
            <div class="col-md-4 mb-md-0 mb-5">
                <!-- Grid row -->
                <div class="row">
                    <!-- Grid column -->
                    <div class="col-lg-2 col-md-3 col-2">
                        <i class="fas fa-angle-double-right pink-text fa-2x"></i>
                    </div>
                    <!-- /Grid column -->

                    <!-- Grid column -->
                    <div class="col-lg-10 col-md-9 col-10">
                        <h4 class="font-weight-bold">量算-线</h4>
                        <p>计算输入数组中指定的每条折线的长度。</p>
                        <a class="btn btn-pink btn-sm" href="{{ url_for('geometry_service_lengths') }}">
                            <i class="fas fa-sign-in-alt fa-2x"></i>
                        </a>
                    </div>
                    <!-- /Grid column -->
                </div>
                <!-- /Grid row -->
            </div>
            <!-- /Grid column -->

            <!-- Grid column -->
            <div class="col-md-4">
                <!-- Grid row -->
                <div class="row">
                    <!-- Grid column -->
                    <div class="col-lg-2 col-md-3 col-2">
                        <i class="fa fa-angle-double-right purple-text fa-2x"></i>
                    </div>
                    <!-- /Grid column -->

                    <!-- Grid column -->
                    <div class="col-lg-10 col-md-9 col-10">
                        <h4 class="font-weight-bold">缓冲</h4>
                        <p>为输入几何图形返回指定距离处的缓冲多边形。</p>
                        <a class="btn btn-purple btn-sm"><i class="fas fa-sign-in-alt fa-2x"></i></a>
                    </div>
                    <!-- /Grid column -->
                </div>
                <!-- /Grid row -->
            </div>
            <!-- /Grid column -->
        </div>
        <!-- /Grid row -->

        <!-- Grid row -->
        <div class="row my-5">
            <!-- Grid column -->
            <div class="col-md-4 mb-md-0 mb-5">
                <!-- Grid row -->
                <div class="row">
                    <!-- Grid column -->
                    <div class="col-lg-2 col-md-3 col-2">
                        <i class="fas fa-angle-double-right blue-text fa-2x"></i>
                    </div>
                    <!-- /Grid column -->

                    <!-- Grid column -->
                    <div class="col-lg-10 col-md-9 col-10">
                        <h4 class="font-weight-bold">距离</h4>
                        <p>计算两个几何图形之间的距离。</p>
                        <a class="btn btn-blue btn-sm"><i class="fas fa-sign-in-alt fa-2x"></i></a>
                    </div>
                    <!-- /Grid column -->
                </div>
                <!-- /Grid row -->
            </div>
            <!-- /Grid column -->

            <!-- Grid column -->
            <div class="col-md-4 mb-md-0 mb-5">
                <!-- Grid row -->
                <div class="row">
                    <!-- Grid column -->
                    <div class="col-lg-2 col-md-3 col-2">
                        <i class="fas fa-angle-double-right pink-text fa-2x"></i>
                    </div>
                    <!-- /Grid column -->

                    <!-- Grid column -->
                    <div class="col-lg-10 col-md-9 col-10">
                        <h4 class="font-weight-bold">交集</h4>
                        <p>构造几何图形和其他几何图形之间的集合交集。</p>
                        <a class="btn btn-pink btn-sm"><i class="fas fa-sign-in-alt fa-2x"></i></a>
                    </div>
                    <!-- /Grid column -->
                </div>
                <!-- /Grid row -->
            </div>
            <!-- /Grid column -->

            <!-- Grid column -->
            <div class="col-md-4">
                <!-- Grid row -->
                <div class="row">
                    <!-- Grid column -->
                    <div class="col-lg-2 col-md-3 col-2">
                        <i class="fa fa-angle-double-right purple-text fa-2x"></i>
                    </div>
                    <!-- /Grid column -->

                    <!-- Grid column -->
                    <div class="col-lg-10 col-md-9 col-10">
                        <h4 class="font-weight-bold">偏移</h4>
                        <p>根据偏移距离构造给定输入多段线的偏移量。</p>
                        <a class="btn btn-purple btn-sm"><i class="fas fa-sign-in-alt fa-2x"></i></a>
                    </div>
                    <!-- /Grid column -->
                </div>
                <!-- /Grid row -->
            </div>
            <!-- /Grid column -->
        </div>
        <!-- /Grid row -->

        <!-- Grid row -->
        <div class="row my-5">
            <!-- Grid column -->
            <div class="col-md-4 mb-md-0 mb-5">
                <!-- Grid row -->
                <div class="row">
                    <!-- Grid column -->
                    <div class="col-lg-2 col-md-3 col-2">
                        <i class="fas fa-angle-double-right blue-text fa-2x"></i>
                    </div>
                    <!-- /Grid column -->

                    <!-- Grid column -->
                    <div class="col-lg-10 col-md-9 col-10">
                        <h4 class="font-weight-bold">空间关系</h4>
                        <p>判断多个几何图形之间是否符合给定的空间关系。</p>
                        <a class="btn btn-blue btn-sm"><i class="fas fa-sign-in-alt fa-2x"></i></a>
                    </div>
                    <!-- /Grid column -->
                </div>
                <!-- /Grid row -->
            </div>
            <!-- /Grid column -->

            <!-- Grid column -->
            <div class="col-md-4 mb-md-0 mb-5">
                <!-- Grid row -->
                <div class="row">
                    <!-- Grid column -->
                    <div class="col-lg-2 col-md-3 col-2">
                        <i class="fas fa-angle-double-right pink-text fa-2x"></i>
                    </div>
                    <!-- /Grid column -->

                    <!-- Grid column -->
                    <div class="col-lg-10 col-md-9 col-10">
                        <h4 class="font-weight-bold">简化</h4>
                        <p>返回拓扑正确的几何图形数组。</p>
                        <a class="btn btn-pink btn-sm"><i class="fas fa-sign-in-alt fa-2x"></i></a>
                    </div>
                    <!-- /Grid column -->
                </div>
                <!-- /Grid row -->
            </div>
            <!-- /Grid column -->

            <!-- Grid column -->
            <div class="col-md-4">
                <!-- Grid row -->
                <div class="row">
                    <!-- Grid column -->
                    <div class="col-lg-2 col-md-3 col-2">
                        <i class="fa fa-angle-double-right purple-text fa-2x"></i>
                    </div>
                    <!-- /Grid column -->

                    <!-- Grid column -->
                    <div class="col-lg-10 col-md-9 col-10">
                        <h4 class="font-weight-bold">联合</h4>
                        <p>构造输入几何图形的集合论联合。</p>
                        <a class="btn btn-purple btn-sm"><i class="fas fa-sign-in-alt fa-2x"></i></a>
                    </div>
                    <!-- /Grid column -->
                </div>
                <!-- /Grid row -->
            </div>
            <!-- /Grid column -->
        </div>
        <!-- /Grid row -->
    </section>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
        $("#menu-TGISServer").addClass("active");
        $("#menu-item-geometry-service").addClass("current-menu-item");
    </script>
{% endblock %}