{% extends "api.html" %}

{% block api_title %}
  <h4 class="font-weight-bold">量算 - 面</h4>
{% endblock %}

{% block api_panel %}
  <!--url-->
  <section class="my-2">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-3">URL:</div>
          <div class="col-9">{{ url_for('tgis_server.geometry_service_areas') }}</div>
        </div>
      </div>
    </div>
  </section>

  <!--description-->
  <section class="my-2">
    <div class="card">
      <div class="card-body">
        <p><span class="user-text">areasAndLengths</span>计算输入数组中指定的每个多边形的面积和周长。</p>
        <p>此操作的参数在以下参数表中定义:</p>
      </div>
    </div>
  </section>

  <!--params-->
  <section class="my-2">
    <div class="card">
      <div class="card-body">
        <!--Table-->
        <table class="table">

          <!--Table head-->
          <thead class="blue-grey lighten-4">
          <tr>
            <th class="h4">参数</th>
            <th class="h4">说明</th>
          </tr>
          </thead>
          <!--/Table head-->

          <!--Table body-->
          <tbody>
          <tr>
            <td>
              <span class="user-text">polygons</span>
            </td>
            <td class="blockquote pt-0">
              <p>要计算面积的多边形数组</p>
              <p>JSON结构：</p>
              <section class="panel">
                <pre><code>[ &lt;polygon1&gt;, &lt;polygon2&gt;, ..., &lt;polygonN&gt; ]</code></pre>
              </section>
              <p>示例：</p>
              <section class="panel">
                                            <pre><code>[
 {
  <span class="red-text">"rings"</span> : [
   [[<span class="blue-text">-117</span>,<span class="blue-text">34</span>],[<span class="blue-text">-116</span>,<span
                                                class="blue-text">34</span>],[<span class="blue-text">-117</span>,<span
                                                class="blue-text">33</span>],[<span class="blue-text">-117</span>,<span
                                                class="blue-text">34</span>]],
   [[<span class="blue-text">-115</span>,<span class="blue-text">44</span>],[<span class="blue-text">-114</span>,<span
                                                class="blue-text">43</span>],[<span class="blue-text">-115</span>,<span
                                                class="blue-text">43</span>],[<span class="blue-text">-115</span>,<span
                                                class="blue-text">44</span>]]
  ]
 },
 {
  <span class="red-text">"rings"</span> : [
   [[<span class="blue-text">32.49</span>,<span class="blue-text">17.83</span>],[<span
                                                class="blue-text">31.96</span>,<span
                                                class="blue-text">17.59</span>],[<span
                                                class="blue-text">30.87</span>,<span
                                                class="blue-text">17.01</span>],[<span
                                                class="blue-text">30.11</span>,<span
                                                class="blue-text">16.86</span>],[<span
                                                class="blue-text">32.49</span>,<span class="blue-text">17.83</span>]]
  ]
 }
]</code></pre>
                <p>第一个多边形的rings属性包含两条路径，代表一个有"洞"的多边形。</p>
                <p>第二个多边形的rings属性只有一条路径，代表一个封闭的多边形</p>
              </section>
            </td>
          </tr>
          <tr>
            <td>
              <span class="user-text">calculationType</span>
            </td>
            <td class="blockquote pt-0">
              <p>
                <span class="user-text">calculationType</span>定义了几何体的长度计算方式。该类型可以是以下值之一：
              </p>
              <ul>
                <li class="pb-3">
                  <span class="user-text">geodesic</span> -
                  大地测量。在大地测量计算中，多边形（或多义线）的每对节点之间的线段被当做是地球表面最短的路径。如果没有为面积或长度定义单位，则结果将以米作为单位。如果用户想知道某个几何图形的大地测量长度或面积，则可以使用本类型。
                </li>
                <li class="pb-3">
                  <span class="user-text">planar</span> — 平面。平面量算使用二维笛卡尔数学方法计算面积和长度。多数情况下，使用大地测量将更为精确。
                </li>
              </ul>
            </td>
          </tr>
          </tbody>
          <!--Table body-->

        </table>
        <!--Table-->
      </div>
    </div>
  </section>

  <!--response syntax-->
  <section class="my-2">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">JSON响应语法</h4>
        <p>JSON结构:</p>
        <section class="panel">
                 <pre><code>{
  <span class="red-text">"lengths"</span> : [ &lt;length1&gt;, &lt;length2&gt;, ..., &lt;lengthN&gt; ],
  <span class="red-text">"areas"</span> : [ &lt;area1&gt;, &lt;area2&gt;, ..., &lt;areaN&gt; ]
}</code></pre>
        </section>

        <p>示例:</p>
        <section class="panel">
    <pre><code>[
  {
    <span class="red-text">"areas"</span> :
    [
      <span class="blue-text">2150.340979272913</span>,
      <span class="blue-text">2800449.740201426</span>,
    ]
  },
  {
    <span class="red-text">"length"</span> :
    [
      <span class="blue-text">222.93213167603818</span>,
      <span class="blue-text">264.5927746444603</span>,
    ]
  }
]</code></pre>
        </section>
      </div>
    </div>
  </section>

{% endblock %}

{% block sample_panel %}
  <div class="row" style="height: 600px">
    <!--Map div-->
    <div class="col-lg card py-3 px-3 mr-0 mr-lg-3 mb-3 mb-lg-0">
      <div id="mapViewDiv" class="card-body"></div>
    </div>

    <!--params & request & response div-->
    <div class="col-lg card">
      <div class="card-body">
        <form>
          <!--polygons param-->
          <label for="txtPolygons">Polygons:</label>
          <textarea type="text" id="txtPolygons" class="form-control" rows="4" placeholder="请输入参数或在地图上点击"></textarea>

          <!--calculationType params-->
          <div class="md-form shadow-textarea">
            <select id="selCalculationType" class="mdb-select colorful-select dropdown-primary">
              <option value="geodesic">geodesic - 大地测量</option>
              <option value="planar">planar - 平面</option>
            </select>
            <label for="selCalculationType">calculationType:</label>
          </div>

          <!--Actions-->
          <div class="text-center">
            <button id="btnAddNewPolygon" type="button" class="btn btn-info btn-rounded disabled">新  增</button>
            <button id="btnClearData" type="button" class="btn btn-info btn-rounded disabled">清  除</button>
            <button id="btnOpenLink" type="button" class="btn btn-info btn-rounded" disabled>打开请求地址</button>
          </div>
        </form>
      </div>
    </div>

  </div>
{% endblock %}

{% block scripts %}
  {{ super() }}

  <script type="text/javascript">
    $('#menu-server').addClass('active');
    $('#menu-item-geometry-service').addClass('current-menu-item');
  </script>

  <script>require(["{{ url_for('.static', filename='assets/js/server/geometry_service_areas.js') }}"]);</script>
{% endblock %}