{% extends "bootstrap/base.html" %}

{% block title %}TGIS{% endblock %}



{% block styles %}
    {{ super() }}
{#    <link rel="stylesheet" href="{{ url_for('.static', filename='assets/css/style.css') }}">#}
    <link rel="stylesheet" href="{{ url_for('.static', filename='assets/css/mdb.css') }}">
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('.static', filename='assets/js/popper.min.js') }}"></script>
    <script src="{{ url_for('.static', filename='assets/js/mdb.min.js') }}"></script>
    <script src="{{ url_for('.static', filename='assets/js/scripts.js') }}"></script>
{% endblock %}