{% extends "base.html" %}

{% block navbar %}
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="{{ url_for('.static', filename='assets/img/dk_logo_text.png') }}" height="50">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7"
                    aria-controls="navbarSupportedContent-7" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent-7">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Profile</a>
                    </li>
                </ul>
                <form class="form-inline">
                    <div class="md-form mt-0">
                        <input class="form-control mr-sm-2" type="text" placeholder="搜索..." aria-label="搜索...">
                    </div>
                </form>
            </div>
        </div>
    </nav>
    <!--/Navbar-->

    <!-- Full Page Intro -->
    <div class="view"
         style="background-image: url({{ url_for('.static', filename='assets/img/architecture.jpg') }});
                 background-repeat: no-repeat; background-size: cover; background-position: center center;">
        <!-- Mask & flexbox options-->
        <div class="mask rgba-gradient d-flex justify-content-center align-items-center">
            <!-- Content -->
            <div class="container">
                <!--Grid row-->
                <div class="row d-flex justify-content-center">
                    <!--Grid column-->
                    <div class="col-md-6 white-text text-center text-md-left mt-xl-5 mb-5 wow fadeInLeft"
                         data-wow-delay="0.3s">
                        <h1 class="h1-responsive font-weight-bold mt-sm-5">TGIS - 智能交通地图开放平台</h1>
                        <hr class="hr-light">

                    </div>
                    <!--/Grid column-->
                </div>
                <!--/Grid row-->

                <!--Grid row-->
                <div class="row">
                    <!--Grid column-->
                    <div class="col-lg-3 col-md-12 mb-4">
                        <div class="card card-cascade narrower">
                            <!-- Card image -->
                            <div class="view overlay view-cascade gradient-card-header aqua-gradient">

                                <!-- Title -->
                                <h2 class="card-header-title">TGISServer</h2>

                                <a href="javascript:">
                                    <div class="mask rgba-white-slight"></div>
                                </a>
                            </div>

                            <!-- Card content -->
                            <div class="card-body card-body-cascade text-center">
                                <!-- Text -->
                                <p class="card-text">后台GIS服务，提供量算、路径规划等服务。</p>
                                <a href="#" class="btn btn-light-green btn-rounded"><i
                                        class="far fa-arrow-alt-circle-right"></i> 进入</a>
                            </div>
                        </div>
                    </div>
                    <!--/Grid column-->

                    <!--Grid column-->
                    <div class="col-lg-3 col-md-4 mb-4">
                        <div class="card card-cascade narrower">
                            <!-- Card image -->
                            <div class="view overlay view-cascade gradient-card-header blue-gradient">

                                <!-- Title -->
                                <h2 class="card-header-title">TGISViewer</h2>
                                <h3 class="card-header-title">Standard</h3>

                                <a href="javascript:">
                                    <div class="mask rgba-white-slight"></div>
                                </a>
                            </div>

                            <!-- Card content -->
                            <div class="card-body card-body-cascade text-center">
                                <!-- Text -->
                                <p class="card-text">后台GIS服务，提供量算、路径规划等服务。</p>
                                <a href="#" class="btn btn-light-blue btn-rounded"><i
                                        class="far fa-arrow-alt-circle-right"></i> 进入</a>
                            </div>
                        </div>
                    </div>
                    <!--/Grid column-->

                    <!--Grid column-->
                    <div class="col-lg-3 col-md-4 mb-4">
                        <div class="card card-cascade narrower">
                            <!-- Card image -->
                            <div class="view overlay view-cascade gradient-card-header blue-gradient">

                                <!-- Title -->
                                <h2 class="card-header-title">TGISViewer</h2>
                                <h3 class="card-header-title font-weight-light">Lite</h3>

                                <a href="javascript:">
                                    <div class="mask rgba-white-slight"></div>
                                </a>
                            </div>

                            <!-- Card content -->
                            <div class="card-body card-body-cascade text-center">
                                <!-- Text -->
                                <p class="card-text">后台GIS服务，提供量算、路径规划等服务。</p>
                                <a href="#" class="btn btn-light-blue btn-rounded"><i
                                        class="far fa-arrow-alt-circle-right"></i> 进入</a>
                            </div>
                        </div>
                    </div>
                    <!--/Grid column-->

                    <!--Grid column-->
                    <div class="col-lg-3 col-md-4 mb-4">
                        <div class="card card-cascade narrower">
                            <!-- Card image -->
                            <div class="view overlay view-cascade gradient-card-header blue-gradient">

                                <!-- Title -->
                                <h2 class="card-header-title">TGISViewer</h2>
                                <h3 class="card-header-title font-italic">3D</h3>

                                <a href="javascript:">
                                    <div class="mask rgba-white-slight"></div>
                                </a>
                            </div>

                            <!-- Card content -->
                            <div class="card-body card-body-cascade text-center">
                                <!-- Text -->
                                <p class="card-text">后台GIS服务，提供量算、路径规划等服务。</p>
                                <a href="#" class="btn btn-light-blue btn-rounded"><i
                                        class="far fa-arrow-alt-circle-right"></i> 进入</a>
                            </div>
                        </div>
                    </div>
                    <!--/Grid column-->
                </div>
                <!--/Grid row-->
            </div>
            <!--/Content-->
        </div>
        <!--/Mask & flexbox options-->
    </div>
    <!-- Full Page Intro -->
{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('.static', filename='assets/css/style-index.css') }}">
{% endblock %}

